body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #333333;
  display: flex;
  justify-content: flex-start; }

.container {
  width: 80%;
  margin: 0 auto; }

header {
  width: 100%;
  background: #141414;
  position: fixed; }

header::after {
  content: '';
  display: table;
  clear: both; }

.logo {
  float: left;
  padding: 10px 0; }

header img {
  width: 12%; }

nav {
  float: left; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px; }

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px; }

nav ul li a:hover {
  color: #fff; }

nav ul li a::before {
  content: '';
  display: block;
  height: 5px;
  background: #fff;
  width: 0;
  transition: all ease-in 250ms;
  top: 18px; }

nav ul li a:hover::before {
  width: 100%; }

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  height: 100vh;
  overflow: hidden;
  z-index: -1; }

.video video {
  min-width: 100%;
  min-height: 100%; }

.content {
  width: 40%;
  color: #fff;
  padding: 20px;
  margin: 5%; }
